<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type='text/css' href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <title>Book Show</title>
</head>
<body>
    <div class="container d-flex mt-5">
        <div class="container pe-5 border-end border-5">
            <h1 class="mb-5">Title: {{favorite_author_tp[0]['title']}}</h1>
            <h5>Favorited by:</h5>
            <div class="ps-3 overflow-auto" style="height: 250px;">
                {% for author in favorite_author_tp %}
                <p>{{author['name']}}</p>
                {% endfor %}
            </div>
        </div>
        <div class="container ms-5">
            <h1 class="mb-5">Add Book's Favorites</h1>
            <form action="/books/{{favorite_author_tp[0]['id']}}/new_fav" method="POST" class="align-items-center mb-5">
                <div class="row g-3 mb-3">
                    <div class="col-auto me-3">
                        <label for="author" class="col-form-label">Author:</label>
                    </div>
                    <div class="col-auto mb-3">
                        <select name="author" class="form-select">
                            <option selected>Select an author...</option>
                            {% for author in authors_tp %}
                            {% if author['name'] not in fav_author_tp %}
                            <option value="{{author['id']}}">{{author['name']}}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <input type="submit" role="button" class="btn btn-primary">
            </form>
        </div>
    </div>
    <div class="container mt-5">
        <a href="http://127.0.0.1:5000/authors" role="button" class="btn btn-outline-primary">Home</a>
    </div>
</body>
</html>